{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="container ml-auto col-md-3 mt-5">
    <div class="card shadow-lg p-3 mb-5 bg-body rounded p-3">
        <div class="text-center mx-5 my-2">
            <h3>Enter Credentials to Login</h3>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form.username|as_crispy_field }}
            {{ form.password|as_crispy_field }}
            <div class="text-end">
                <button class="btn btn-success mt-3" type="submit">Signin</button>
            </div>
        </form>
        <div class="text-end">
            <p class="mt-2">
                Don't have an account?
                <a href="{% url 'accounts:register' %}">signup</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}
