{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<div class="container ml-auto col-md-3 mt-5">
    <div class="card shadow-lg p-3 mb-5 bg-body rounded p-3">
        <div class="text-center mx-5 my-2">
            <h3>Enter Credentials to Signup</h3>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form.username|as_crispy_field }}
            {{ form.email|as_crispy_field }}
            {{ form.password1|as_crispy_field }}
            {{ form.password2|as_crispy_field }}
            <div class="float-end mt-3">
                <button class="btn btn-success" type="submit">Signup</button>
            </div>
        </form>
    <div class="text-end mt-3">
        <p>
            Already have an account? <a href="{% url 'accounts:login' %}">Signin</a>
        </p>
    </div>
</div>
</div>
{% endblock content %}
